01-XML-DTD-XSD/ejer4/ejer4_xsd/hardwareCatalog.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="hardwareCatalog">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="item" maxOccurs="unbounded" >
                    <xs:complexType>
                        
                        <xs:sequence>
                            <xs:element name="type" type="xs:string" />
                            <xs:element name="brand" type="xs:string" />
                            <xs:element name="model" type="xs:string" />
                            <xs:element name="specifications">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="name" type="xs:string" minOccurs="1"/>
                                        <xs:element name="description" type="xs:string" minOccurs="0"/>
                                    </xs:sequence>                               
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute name="id" type="xs:ID" use="required" />
                       
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>