01-XML-DTD-XSD/ejer1/ej1_dtd/novedades.dtd

<!ELEMENT novedades (fecha,(disco|libro)*)>
<!ELEMENT fecha (#PCDATA)>

<!ELEMENT disco (titulo,interprete,direccion?)>
<!ATTLIST disco genero (rock|pop|melodica|clasica|dance) #REQUIRED >
<!ELEMENT libro (titulo, autor+,direccion?)>

<!ELEMENT titulo (#PCDATA)>
<!ELEMENT interprete (#PCDATA)>
<!ELEMENT autor (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
